<table broder='1' id = "doc">
	<tr>
		<td>Name</td>
		<td>Model</td>
	      <td>Brand</td>
	      <td>Year</td>
	      <td>Ram</td>
	      <td>Storage</td>
	</tr>	

	<%= render :partial => "product", :collection => @products %>

</table>